<app-form-bg></app-form-bg>

<div class="bg-gradient-primary min-vh-100">
  <div class="bg-2">
    <div class="container">
      <!-- Login -->
      <div class="text-white pt-6 pt-sm-15vh">
        <div class="brand-icon text-center display-4">
          <img src="/assets/images/logo300x300.png" alt="FriendEnemies logo" />
        </div>

        <div *ngIf="formError" class="alert alert-primary text-primary mb-5">
          {{ formError }}
        </div>

        <h1 class="font-weight-800 text-center display-4">FriendEnemies</h1>
        <p class="resp h4 w-50 mx-auto text-center" style="line-height: 150%">
          Una red social para gente no muy real. <br />
          Ten a tus amigos cerca, pero a tus enemigos aun mas cerca.
        </p>

        <h2 class="font-weight-300 mt-4 text-center">Accede a tu cuenta</h2>

        <form
          class="login-form w-100 w-md-50 mx-auto user mt-5"
          (submit)="formSubmit()"
        >
          <div class="form-group">
            <input
              type="email"
              class="form-control form-control-user"
              id="exampleInputEmail"
              aria-describedby="emailHelp"
              placeholder="Dirección de Email"
              name="email"
              [(ngModel)]="credentials.email"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control form-control-user"
              id="exampleInputPassword"
              placeholder="Contraseña"
              name="password"
              [(ngModel)]="credentials.password"
            />
          </div>
          <input
            type="submit"
            class="btn btn-primary btn-user btn-block"
            value="Login"
          />
        </form>

        <h4 class="text-center p-5 m-0">
          Todavia no tienes una cuenta?
          <a routerLink="/register" class="text-white link">Registrate</a>
        </h4>
      </div>
    </div>
  </div>
</div>
